.authendication-container{

    display: flex;
    flex-direction: column;
    justify-content:center; 
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;

    background-color: #FFFFFF;
    width: 1000px;

    border: 1px solid black;
    border-radius: 10px;
}

.active .page-button{
     background-color: #FFFFFF;
}

.page-button{
    background-color: gray;
    color: #000000;
    height: 30px;
    width: 100px;
    display: inline-block;
    position: relative;
    top: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    text-align: center;
}

.form-container{

    grid-column: 1/12;
    grid-row: 1/12;

    width: 1000px;
}