.authendication-container{
    background-color: #FFFFFF;
    height: 500px;
    width: 1000px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:center; 
    align-items: center;
}

.active .page-button{
     background-color: #FFFFFF;
}
.page-button{
    background-color: gray;
    color: #000000;
    height: 30px;
    width: 100px;
    display: inline-block;
    position: relative;
    top: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    text-align: center;
}

.container{
    position: relative;
    height: 600px;
    width: 1000px;
    left: 20%;
    top: 100px;
}