.authendication-container{
    background-color: #FFFFFF;
    height: 500px;
    width: 1000px;

    border: 1px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content:center; 
    align-items: center;
}

.active .page-button{
     background-color: #FFFFFF;
}
.page-button{
    background-color: gray;
    color: #000000;
    height: 30px;
    width: 100px;
    display: inline-block;
    position: relative;
    top: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    text-align: center;
}

.container{

    grid-column: 1/12;
    grid-row: 1/12;

    height: 600px;
    width: 1000px;
}