.authendication-container{
    background-color: #FFFFFF;
    height: 500px;
    width: 1000px;
    border-radius: 10px;
}

.page-button{
    background-color: #FFFFFF;
    height: 50px;
    width: 100px;
    display: inline-block;
    position: relative;
    top: 15px;
    border-radius: 5px;

    text-align: center;
}

.container{
    position: relative;
    height: 600px;
    width: 1000px;
    left: 20%;
    top: 100px;
}
