.time-slot {

    display: inline-block;

    width: 120px;
    height: 40px;

    background-color: rgb(186, 246, 211);
    border-radius: 5px;

    margin-right: 8px;
    margin-bottom: 8px;
    text-align: center;


}

.time-slot-deactivation{

      display: inline-block;

    width: 120px;
    height: 40px;

    background-color: rgb(126, 127, 126);
    border-radius: 5px;

    margin-right: 8px;
    margin-bottom: 8px;
    text-align: center;
}