.input-field {
    width: 90%;
    height: 50px;
    margin-bottom: 10px;
    background-color: #D9D9D9;
    border-radius: 5px;
}

#login-button {
    
    width: 400px;
    height: 50px;

    box-sizing: border-box;
    display: block;

    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #3DADFF;
}

#kakao-login {
    background-color: #FFC943;
}

#naver-login {
    background-color: #66D575;
}
