.layout-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    align-items: center;
    justify-items: center;
    gap: 16px;

    width: 100%;
    /* 가로: 화면 전체 */
}

header {
    grid-row: 1/3;
    grid-column: 1/13;
    text-align: center;
}


article {
    grid-column: 10/13;
    grid-row: 4/8;
}

main {
    /* 전체 그리드에서의 비율 */
    grid-column: 2/10;
    grid-row: 3/12;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    align-items: center;
    justify-items: center;
    gap: 16px;

}



footer {
    grid-column: 1/13;
    grid-row: 12/13;
}