
.layout-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  align-items: center;
  justify-items: center;
  gap: 16px;

  width: 100%;
  /* 가로: 화면 전체 */
  min-height: 100vh
}

header{
    grid-row: 1/3;
    grid-column: 1/13;
}


article{
    grid-column: 10/13;
    grid-row: 4/8;
}

main{
    grid-column: 1/10;
    grid-row: 4/12;
}

footer{
   grid-column: 1/13;
   grid-row: 12/13;
}

