

.overlay{
position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;

}

.modal{
  background-color: #ffffff;
  width: 500px;
  height: 250px;
  overflow-y: auto; 
  /* 높이와 오버플로우를 같이 지정해줘야지 스크롤 됨 */
  border: 1px solid #cccccc;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  font-weight: 600;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.element{
  display: inline-block;
  padding: 4px 8px;
  margin: 4px;
  background: lightblue;
  border-radius: 4px;
  cursor: pointer;
}

.seleted-element{
  display: inline-block;
  padding: 4px 8px;
  margin: 4px;
  background: rgb(163, 163, 245);
  border-radius: 4px;
  cursor: pointer;

}