.my-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: auto;

    border: 1px solid black;
}

.profile-image {
    display: inline-block;

    width: 100px;
    height: 100px;

    background-color: aqua;
}

.name {
    width: 300px;
    display: inline-block;
    border: 1px solid black;
}

.member-info {
    width: 300px;
    display: inline-block;
    border: 1px solid black;
}

.reservation-histories {
    width: 300px;
    display: inline-block;
    border: 1px solid black;
}