.search-container {

    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 16px;

    align-items: center;

    background-color: #ffff;
    border: 1px solid black;

    height: 60px;
    border-radius: 10px;
}

.search-button {

    grid-column: 3/4;
    grid-row: 1/2;
    background-color: #3DADFF;

    margin-right: 8px;
}

.tag-filter-container {

    grid-column: 1/2;
    grid-row: 1/2;

    display: inline-block;
}

.area-filter-container {

    grid-column: 2/3;
    grid-row: 1/2;
    display: inline-block;
}