.search-container {
    background-color: #ffff;
    position: absolute;
    left: 20%;
    top: 30%;
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 60px;
    border-radius: 10px;
    justify-content: center; 
    align-items: center;
}

.search {
    display: inline-block;
    width: 400px;
    height: 50px;
    border-radius: 8px;
    background-color: #D9D9D9;
    margin: 5px;
}

#search-button{
    background-color: #3DADFF;
    margin: 5px;
}